body {
    background-color: rgb(16, 19, 37);
}

div {
    width: 150px;
    margin: auto;
}

button {
    background-color: rgb(16, 19, 37);
    color: rgb(245, 245, 87);
    border: 2px solid rgb(245, 245, 87);
    border-radius: 1px;
    margin-top: 200%;
    padding: 12px 25px;
    transition: 0.2s;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px -3px yellow;
    cursor: pointer;
}